page-skills {
    ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        background: rgba(90, 90, 90, 0.5);
        position: absolute;
        top: 0%;
        font-size: 2.5em;
        width: 100%;
        font-weight: bold;
        color: goldenrod;
        text-shadow: white 1px 1px;
      }
    
      .card-subtitle {
        background: rgba(200, 200, 200, 0.5);
        font-size: 1.5em;
        position: relative;
        width: 100%;
      }
      .card-subsubtitle {
        background:  rgba(200, 200, 200, 0.5);
        font-size: 1.0em;
        position: relative;
 
        width: 100%;
      }
}
